.zero-radius {
    border-radius: 0px
}

.zero-padding {
    padding: 0;
}

.zero-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.any-tools-main-style {
    font-size: x-large;
    font-weight: bold;
}

.content {
    padding-left: 2em;
    padding-right: 2em;
}

.buffer-half {
    padding-top: .5em;
    padding-bottom: .5em;
}

.buffer-top {
    padding-top: 1em;
}

.buffer-top-double {
    padding-top: 2em;
}

.margin-side {
    margin-left: 1em;
    margin-right: 1em;
}

.font-monospace {
    font-family: monospace;
}

.speedtest{
    text-align:center; 
    width: 725px;
    font-family: sans-serif;
}


